<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Bicycle Sharing Platform
                <small> Building a co-operative economy</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Vision </h2>

            <p>We belive bicycle sharing across the globe has been either driven by the respective governments or private companies making the investment and in many cases
                the company burns out of cash as the bicycle sharing business is very cash intensive. 
            
                Co-shape our work. Support our network. Get involved by pedalling with us.
            </p>
        </div>

         
    </div>
    <!-- /.row -->
 
    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Platform Co-operatism </h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Platform Capitalism </h3>

            The power held by these principal platform owners has allowed them to reorganize life and work to their benefit and that of their shareholders. “Free” services often come at the cost of our valuable personal information, with little recourse for users who value their privacy.     <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Platform Cooperativism</h3>
            <p>Platform cooperativism is a growing international movement that builds a fairer future of work. It’s about social justice and the bottom line. Rooted in democratic ownership,co-op members, technologists, unionists, and freelancers create a concrete near-future alternative to the extractive sharing economy.
                    Making good on the early promise of the Web to decentralize the power of apps, protocols, and websites, platform co-ops allow households with low and volatile income to benefit from the shift of labor markets to the Internet. Steering clear of the belief in one-click fixes of social problems, the model is poised to vitalize people-centered innovation by joining the rich heritage and values of co-ops with emerging Internet technologies.</p>
          
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Ecosystem</h3>

           
            <p>Countless platform co-ops and initiatives supporting them have developed rapidly over the past two years.The cooperative platform ecosystem ranges from alternative financing models, labor brokerages for nurses, massage therapists, and cleaners, to cooperatively owned online marketplaces, and data-protection platforms for patients.
                    Rather than posing as the solution for the quick defeat of the extractive investor-owned model, successful platform co-ops have already and continue to make a meaningful difference in the lives of those who participate in them. It is a project that people can work on in their lifetime. Uber drivers are organizing in co-ops, designing their own taxi apps. Photographers are offering their work for fair prices on a platform where they’re in charge, and journalists are crowdfunding news portals co-owned by their readers. New decentralized networks are enabling people to share their data with each other  .
            </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
