<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Campaign
                <small>Our Campaigns We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Projects</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Our Campaigns</h2>

            <p>Almost 10+ years we have been campaigning to make the roads safer for cycling and a cleaner environment. Every year thousands of cyclists support our campaigns and together we achieve real change. </p>
        </div>

       

    </div>
    <!-- /.row -->

    

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Campaigns</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Plog Run</h3>

            <p>With a mission to make a plastic-free city. GO Native in collaboration with Bruhat Bengaluru Mahanagara Palike (BBMP), United Way Bengaluru, Namma Nimma Cycle Foundation and Let’s Be The Change are organizing the first edition of Bengaluru Plog Run across 50 localities in the city.

                It also aimed to create alternative platform for replacing plastic and encouraging native products like jute, cotton etc to reduce the impact of plastic on environment and reduce the consumption of fossil fuels
            </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Cycle Day</h3>

            <p> In an attempt to increase awareness on the benefits of cycling for health and the environment, a group of cycling communities  and organisations along with the support of the DULT- Directorate of Urban Land Transport, Bangalore Traffic Police and BMRC (Bangalore Metro Rail Corporation) have started the concept of Cycle Day.
                
                The objective is fairly simple ÛÒ to promote cycling as a green mode of transport and get more people on their bicycles in order to reduce pollution and traffic in the city.
                
                We have been associated with cycle day since the first cycle day started in cubbon park.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Heritage Rides</h3>

            <p> NNCF is organizing heritage rides to create awareness about the unique heritage of the country 
                    
                   
                    
                    
                    Karnataka Department of Tourism in association with Namma Nimma  Cycle, an NGO, organises a bicycle ride to highlight the unique culture of Bengalru on World Tourism Day  .
                
                The unique ride was organised along two circuits (Heritage Circuit in Basavanagudi, History Circuit in MG Road), each circuit covering an area of 10 -12 km.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    <!-- /.row -->


    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Campaigns</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Clean Air Campaigns </h3>

            <p>    Motor vehicles are a major source of pollution, which imposes significant human and financial costs on society.
                 Cycling should therefore be encouraged as a way of reducing pollution. This would help the cities in India comply with its legal limits on air quality and improve public health. 
            </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Traffic Policeman Support Ride </h3>

            <p> Traffic personnel are exposed to harsh weather conditions, dust, pollution, heat and cold. These can have an adverse effect on their health.
                NNCF in association with CISCO and youth for seva organized a cycle ride across tech parks and gifted high quality pollution masks to the police men.
                 </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Bicycle for Integration</h3>

            <p> The “Karnataka Darshana” was a bicycle tour that   started  on July 12 from Bidar and ended  in Bengaluru on July 25, during which 15 cities, 25 districts, and important cultural heritage sites of Hampi, Moodbidri, Mysuru, Belur, and Vijayapura among others will be covered.
                    As many as 55 members of the Karnataka State Reserve Police (KSRP),    embarked on a 1,7650km ‘Karnataka Darshan’ cycling expedition across karnataka.
                    NNCF was responsible for planning the cycling ride across the state and operations support was provided by NNCF.
                    The group covered around 160 km a day and touched all major police centres in the state. Every district they visited, they interacted with the locals and school kids. 
                    The cyclists spoke about Swachh Bharat, Fitness, benefits of environment protection, safety of school children and road safety.  
                    
                    
                    
                
            </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>

</div>
<!-- /.container -->
