<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Nandi Habba
                <small>What We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Nandi Habba </h2>

            <p>Nandi Habba, a day long celebration of the rich heritage of Nandi Hills was held in association with the Govt of Karnataka.
                    The Nandi Hills Heritage Restoration (NHHR) project, of which Nandi Habba is a part, will comprise of five initiatives, i.e. heritage, ecology, livelihoods, preservation of water bodies and solid waste management that will preserve Nandi Hills.
                    The event also aimed to create awareness about the need to preserve the rich biodiversity and heritage of Nandi Hills.
                    As part of the event NNCF organized following programs
                    Cyclothon
                    Around 200 cyclists participated in the cyclothon
                    Marathon Around 800 runners participated in the run 
                    Nandi Habba integrates art, heritage, nature, ecology and general wellbeing. It strives to create a holistic experience by bringing together experts in the fields to share their knowledge and experiences with people who’re fascinated with the hills. 

            </p>
        </div>

        <div class="col-md-4">
            <h2 class="page-header">Nandi Hills   </h2>

            <p>Nandi Hills is unique in many ways. Home to South India’s only cloud forest, this region has made it possible for thousands of birds and butterflies, over 100 varieties of plants, trees and creepers and other indigenous life forms to coexist and thrive. Nandi Hills also has a rich, captivating history; untouched hiking and adventurous trails; and a proud community – all of which are waiting to be in the spotlight.
s.</p>
            <a class="btn btn-primary" href="#">Click Me!</a>
        </div>

    </div>
    <!-- /.row -->

     

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Nandi Habba</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Cyclothon </h3>

            <p>A National Level Cycling Competetion was organized as part of nandi habba.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Running</h3>

            <p>As part of the nandi habba we had organized a 10K run and the 21K Half marathon.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Festival </h3>

            <p> As part of the festival we had organized music concert, dance and also a farmers market at nandi hills.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
