
<!-- Page Content -->

<div class="container">
        
            <div class="row">
        
                
        
            </div>
            <!-- /.row -->
        
          
            <!-- Service Paragraphs -->
        
            
        
             
        
            <!-- Service Images -->
        
            <div class="row">
        
                <div class="col-lg-12">
                    <h2 class="page-header">Partners  </h2>
                </div>
        
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
        
                    <h3>Go Native</h3>
        
                    <p>  </p>
                    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                </div>
        
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
        
                    <h3>BMF</h3>
        
                    <p>   </p>
                    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                </div>
        
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
        
                    <h3>United Way Bengaluru  </h3>
        
                    <p>   .</p>
                    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                </div>
    
                <div class="col-sm-4">
                        <img class="img-responsive" src="http://placehold.it/750x450">
            
                        <h3>Cycle Day Bengaluru  </h3>
            
                        <p>   .</p>
                        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                    </div>
                <div class="col-sm-4">
                        <img class="img-responsive" src="http://placehold.it/750x450">
            
                        <h3>Wheel Sports  </h3>
            
                        <p>  </p>
                        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
                    </div>
        
            </div>
            <!-- /.row -->
        
        </div>
        <!-- /.container -->
        