<div class="container">

    <div class="row">

        <div class="col-lg-8">
            <h1 class="page-header">Research and Development
                
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">We focus on developing the culture of bicycle by investing in Research and Development</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Bicycle Design</strong>
                </div>
               
                <ul class="list-group">
                    <li class="list-group-item">Bicycle trailers</li>
                    <li class="list-group-item">Bicycle for Mothers</li>
                    <li class="list-group-item">Cargo Bicycles</li>
                    <li class="list-group-item">Bicycle accessories</li>
                    <li class="list-group-item">Bicycle safety</li>
                  
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Bicycle Infrastructure and Habitat</strong>
                </div>
                
                <ul class="list-group">
                    <li class="list-group-item">Bicycle streets</li>
                    <li class="list-group-item">Bicycle maps for urban spaces</li>
                  
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Bicycle  Parking  </strong>
                </div>
                
                <ul class="list-group">
                    <li class="list-group-item">Design of Bicycle station for parking bicycles</li>
                     
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Bicycle Sports</strong>
                </div>
                 
                <ul class="list-group">
                    <li class="list-group-item">Bicycle Race Timing Tools - Open source - work in progress</li> 
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

