<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Services
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">We rent bicycles for corporates and public functions</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Our Rental  Services</h2>

            <p> We rent bicycles for corporates and also for general functions for creating awareness. cycling is a great way of promoting a cause and also getting the attention of the people</p>
        </div>

         

    </div>
    <!-- /.row -->

 
    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Bicycle Rentals </h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Corporates</h3>

            <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
           
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3> Public Functions</h3>

            <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>For Colleges and Institutions </h3>

            <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam
                quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
          
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
