
<!-- Page Content -->

<div class="container">
    
        <div class="row">
    
            <div class="col-lg-12">
                <h1 class="page-header">Team
                    <small>Who are We ? </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">Team</li>
                </ol>
            </div>
    
        </div>
        <!-- /.row -->
    
        <div class="row">
    
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300">
            </div>
    
        </div>
        <!-- /.row -->
    
        <!-- Service Paragraphs -->
    
        <div class="row">
     
    
            <div class="col-md-4">
                <h2 class="page-header">Team   </h2>
    
                <p>Based in  Bengaluru Karnataka, our professional and talented staff is driven by their passion for getting more people on bicycles more often. 
                    With a combined 10+ years experience in bicycling advocacy, we are dedicated to ensuring safe and accessible riding options for all..</p>
                <a class="btn btn-primary" href="#">Click Me!</a>
            </div>
    
        </div>
        <!-- /.row -->
    
         
    
        <!-- Service Images -->
    
        <div class="row">
    
            <div class="col-lg-12">
                <h2 class="page-header">Team  </h2>
            </div>
    
            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
    
                <h3>Murali HR , Executive Director |</h3>
    
                <p>With a passion for bicycling that spans many years and disciplines, Murali  plots our strategic course and helps staff succeed in their efforts to make cycling fun and intensive</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
    
            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
    
                <h3>Shankar Sadashiva , Director of Operations</h3>
    
                <p> Keeps everything running smoothly in the office . Loves that everyone in the office is inspired and dedicated to making a difference in the bicycling world</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
    
            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
    
                <h3>Sunil KG,  Director, Marketing & Communications </h3>
    
                <p> works to amplify the work of NNCF  and manage relationships with individuals and organizations. 
                    He loves that he gets to educate people and help make a difference in the world. 
                    He is also a barefoot runner, swimmer and  has since competed in several amateur triathlon championships.</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
    
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->
    