<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Bicycle Tours
                <small>Explore a unique world on bicycles </small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Bicycle Tourism </h2>

            <p> We are promoting the bicycle tourism as a sustainable tourism . we have collaborated with the Govt Of Karnataka to promote the cycle tourism in karnataka</p>
        </div>

        

    </div>
    <!-- /.row -->

       

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Bicycle Tour Destinations</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Bengaluru Tours</h3>

            <p>We conduct the Heritage , History and Start up Rides to explore the wonderful city of bengaluru.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Kaveri River Tours</h3>

            <p> We also organize Kaveri River Trail cycling for families, corporates or if you want to have a party outing .</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa  a-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Hill Tours</h3>

            <p> Hill tours are for those who are into endurance cycling and would love riding on the uphills . Nandi Hills , OOty , Devarayanadurga are some of the hills 
                where we have conducted the ride.
            </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
