
<div class="section">
        
            <div class="container">
        
                <section>
                                            <header class="major">
                                                <h2>Our Vision  </h2>
                                            </header>
                                            <div class="features">
                                                <article>
                                                    <span class="icon fa-diamond "></span>
                                                    <div class="content">
                                                        <h3>Bicycle Tourism</h3>
                                                        <p> We are pushing for  bicycle tourism as a niche area that is  transforming the economic health of communities across rural india.</p>
                                                    </div>
                                                </article>
                                                <article>
                                                    <span class="icon fa-paper-plane"></span>
                                                    <div class="content">
                                                        <h3>Bicycle Infrastructure </h3>
                                                        <p>  We are working with various municipalities to enable the Bicycle Infrastructure .</p>
                                                    </div>
                                                </article>
                                                <article>
                                                    <span class="icon fa-rocket"></span>
                                                    <div class="content">
                                                        <h3>Bicycle Sports</h3>
                                                        <p> NNCF actively works with the community to enable bicycle sports across India </p>
                                                    </div>
                                                </article>
                                                <article>
                                                    <span class="icon fa-signal"></span>
                                                    <div class="content">
                                                        <h3> Awareness Campaigns</h3>
                                                        <p> NNCF has actively campaigned for clean environment and has organized massive campigns like Plog Run, Heritage Ride.</p>
                                                    </div>
                                                </article>
                                            </div>
                                        </section>
        
                                    <!-- Section -->
                                        <section>
                                            <header class="major">
                                                <h2>Our Mission</h2>
                                            </header>
                                            <div class="posts">
                                                <article>
                                                    <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                                                    <h3>Plog Run</h3>
                                                    <p>The Garden City will host its first Plog Run on October 2, on the occasion of Gandhi Jayanthi. Around 5,500 people are expected to participate in the Bengaluru Plog Run to be held in 50 locations across the city. The first of its kind, plogging combines the traditional marathon with the need to pick up plastic waste thrown in public spaces.
         </p>
                                                    <ul class="actions">
                                                        <li><a href="#" class="button">More</a></li>
                                                    </ul>
                                                </article>
                                                <article>
                                                    <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                                                    <h3>Nandi Habba</h3>
                                                    <p> The habba is part of Nandi Hills Heritage Restoration project which aims to preserve heritage and ecology, and improve sol .. 
                                                            </p>
        
                                                      <ul class="actions">
                                                        <li><a href="#" class="button">More</a></li>
                                                    </ul>
                                                </article>
                                                <article>
                                                    <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                                                    <h3>Childrens Heritage Ride</h3>
                                                    <p> We organized Heritage Ride on Children's day to enable young citizens to know about the heritage of the country .</p>
                                                    <ul class="actions">
                                                        <li><a href="#" class="button">More</a></li>
                                                    </ul>
                                                </article>
                                                <article>
                                                    <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                                                    <h3>Open street Cycling Tours</h3>
                                                    <p>We are actively promoting Open Streets and ensuring streets are meant for pedestrians and cyclists on priority.</p>
                                                    <ul class="actions">
                                                        <li><a href="#" class="button">More</a></li>
                                                    </ul>
                                                </article>
                                                <article>
                                                    <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                                                    <h3>World Tourism Day</h3>
                                                    <p> NNCF in assciation with tourism department has organized world tourism day cycle rides to promote sustainable tourism</p>
                                                    <ul class="actions">
                                                        <li><a href="#" class="button">More</a></li>
                                                    </ul>
                                                </article>
                                                <article>
                                                    <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                                                    <h3>IIMB Incubation Plan - What do we do in association with NSRCEL </h3>
                                                    <p> We are incubated at IIMB. We have plans to enable cyclic economy with the support of IIMB</p>
                                                    <ul class="actions">
                                                        <li><a href="#" class="button">More</a></li>
                                                    </ul>
                                                </article>
                                            </div>
                                        </section>
                <!-- /.row -->
        
            </div>
            <!-- /.container -->
        
        </div>
        <!-- /.section -->
         
        